#payment-type-card {
    margin: 10px;
    padding: 20px;
    flex-basis: 50%;
    text-align: center;
}

#payment-type-card button {
    margin: 0 auto;
}

.paymentList {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-around;
    flex-direction: row;
}