.new-product-form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    min-width: 360px;
}

.new-product-form {
    display: flex;
    flex-direction: column;
}

.my-products-container {
    display: flex;
    flex-wrap: wrap;
}
#my-product-card {
    margin: 20px;
    width: 30%;
    padding: 10px;
}
.product-list-card {
    margin: 20px;
    padding: 10px;
    height: 100%;
}
.search-results-header {
    margin-left: 20px;
    font-size: 40px;

}
.my-products-header {
    text-align: center;
    font-size: 40px;
}
.search-results-header-no {
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 900px) {
    .new-product-form-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        margin-top: 10px;
    }
    .my-products-container {
        display: flex;
        flex-wrap: wrap;
    }
    #my-product-card {
        margin: 20px;
        width: 40%;
    }
}
@media screen and (max-width: 700px) {
    .new-product-form-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        margin-top: 10px;
    }
    .my-products-container {
        display: inline;
    }
    #my-product-card {
        margin: 20px;
        width: 60%;
    }
}

.product-link {
    color: black;
    text-decoration: none;
}
.product-link:hover {
    color: #3f51b5;
    text-decoration: none;
}

.btn-container {
    display: block;
    width: 100%;
}
#product-categories-h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin: 26px;
}

#product-cat-card {
    border-radius: 4px;
    flex-basis: 30%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 40px;
}

#product-cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sell-product-container {
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin-bottom: 26px;
}

.product-detail-button {
text-decoration: none;
margin: 5px;
color: black
}

.product-detail-button:hover{
    color:#3f51b5;
    text-decoration: none;
    margin: 5px;
}

.primary {
    background-color: yellow;
}