#navBar{
    z-index: 1300;
}

#nav-link {
    color: white;
    text-decoration: none;
}

#nav-link:hover {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
}

#login-link {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
#login-link:hover {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
